MyBlog/MBPresentation/Service References/ServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MBServiceLibrary/ModelService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://localhost:8732/Design_Time_Addresses/MBServiceLibrary/ModelService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfCategory_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Category" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCategory_So5C1EQp" nillable="true" type="tns:EntityReferenceOfCategory_So5C1EQp" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfPost_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Post" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPost_So5C1EQp" nillable="true" type="tns:EntityReferenceOfPost_So5C1EQp" />
  <xs:complexType name="EntityReferenceOfImage_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Image" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfImage_So5C1EQp" nillable="true" type="tns:EntityReferenceOfImage_So5C1EQp" />
  <xs:complexType name="EntityReferenceOfaspnet_Users_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="aspnet_Users" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfaspnet_Users_So5C1EQp" nillable="true" type="tns:EntityReferenceOfaspnet_Users_So5C1EQp" />
  <xs:complexType name="EntityReferenceOfProfile_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Profile" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProfile_So5C1EQp" nillable="true" type="tns:EntityReferenceOfProfile_So5C1EQp" />
  <xs:complexType name="EntityReferenceOfaspnet_Applications_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="aspnet_Applications" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfaspnet_Applications_So5C1EQp" nillable="true" type="tns:EntityReferenceOfaspnet_Applications_So5C1EQp" />
  <xs:complexType name="EntityReferenceOfaspnet_Membership_So5C1EQp">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="aspnet_Membership" Namespace="http://schemas.datacontract.org/2004/07/MBDatabaseModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfaspnet_Membership_So5C1EQp" nillable="true" type="tns:EntityReferenceOfaspnet_Membership_So5C1EQp" />
</xs:schema>